#projects {
  width: 100vw;
  max-width:75rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  /* background: #121212; Dark background */
  text-align: center;
}

.project-card img{
  object-fit: contain;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(180deg, #f0f, #0ff);
  -webkit-background-clip: text; /* Cool blue title */
  color:transparent;
  margin-bottom: 2rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-content: center;
} 

.project-card {
  background: #1e1e1e;
  height:20rem;
  border-radius: 10px;
  overflow:hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.card-back {
  background: #222;
  color: white;
  transform: rotateY(180deg);
}

.project-card.flipped .card-inner {
  transform: rotateY(180deg);
}



.project-card:hover {
  transform: translateY(-8px);
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.project-title  {
  font-size: 1.3rem;
  color: #f5f5f5;
  text-align: center;
}

.project-description {
  font-size: 1rem;
  padding: 10px;
  text-align: left;
}

.glow{
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  -webkit-background-clip: text; /*Cool blue title*/
  color:transparent;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
  }

 
}

@media screen and (min-width:376px) and (max-width:415px){
  .project-description  {
    font-size: 0.8rem;
  }
  
}
@media screen and (max-width: 375px) {
  .project-container {
    grid-template-columns: 1fr;
  }

  .btn{
    width: 5rem;
  }

  .project-description  {
    font-size: 0.6rem;
  }
}
