#Intro {
  /* height: calc(100vh - 5vh); */
  height:100vh;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

/* Keeps Image on the Right for Desktop */
.profileImg {
  object-fit: contain;
  height: 23rem;
  width: 23rem;
  border-radius: 50%;
  box-shadow:
    inset 0 0 20px #fff, 
    inset 10px 0 40px #f0f, 
    inset -10px 0 40px #0ff, 
    inset 10px 0 100px #f0f, 
    inset -10px 0 100px #0ff, 
    0 0 20px #fff, 
    -5px 0 40px #f0f, 
    5px 0 40px #0ff;
}

.introContent {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
}

.introText {
  font-size: 3rem;
}

.name {
  font-weight: bold;
  background: linear-gradient(45deg, #f0f, #0ff);
  -webkit-background-clip: text;
  color: transparent;
}

.animated-text {
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(45deg, #f0f, #0ff);
  -webkit-background-clip: text;
  color: transparent;
}

.introPara {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}

/* Responsive Styling */
@media screen and (max-width: 1024px) {
  .introText {
    font-size: 2.5rem;
  }

  .animated-text {
    font-size: 1.8rem;
  }

  .introPara {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  #Intro {
    /* height: calc(100vh - 5vh); */
    flex-direction: column;
    text-align: center;
    height: calc(100vh-5rem);
    
  }

  .introContent {
    width: 100%;
    order: 1; /* Ensure text comes first */
  }

  .profileImg {
    width: 18rem;
    height: 18rem;
    margin-top: 1.5rem;
    order: 2; /* Move image below */
    position: static;
  }

  .introText {
    font-size: 2rem;
  }

  .animated-text {
    font-size: 1.5rem;
  }

  .introPara {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .hello {
    font-size: 1.5rem;
  }

  .introText {
    font-size: 1.8rem;
  }

  .animated-text {
    font-size: 1.3rem;
  }

  .introPara {
    font-size: 0.9rem;
  }

  .profileImg {
    width: 15rem;
    height: 15rem;
  }
}
